<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text2Hex - Convert Your Text into a Color</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text2Hex">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Text2Hex - Convert Your Text into a Color">
    <meta property="og:description" content="This website utilizes hashing to generate a hex code for any combination of characters, meaning you can turn your name, or anyone's name into a color!">
    <meta property="og:image" content="https://text2hex.vercel.app/images/text2hex.png"> <!-- Image for preview -->
    <meta property="og:url" content="https://text2hex.vercel.app">  <!-- URL of your website -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
    <style>
        .github-logo {
            position: fixed;  
            bottom: 10px;     
            right: 10px;      
            width: 40px;      
            height: auto;     
            z-index: 1000;    
        }
    </style>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6827653508930136"
     crossorigin="anonymous"></script>

</head>
<body>
    <h1>Text2Hex</h1>
    <p class="subtitle">Convert your text into a unique color. Try your name!</p>

    <a href="https://github.com/inchrysuploader/Text2Hex" target="_blank">
        <img src="{{ url_for('static', filename='images/github-mark.png') }}" alt="Repo Link" class="github-logo">
    </a>

    <div class="form-container">
        <form method="POST">
            <label for="text">Enter Text:</label>
            <input type="text" id="text" name="text" placeholder="Enter text to convert" required>

            <label for="algorithm">Choose Hash Algorithm:</label>
            <select id="algorithm" name="algorithm" required>
                <option value="sha256">SHA-256</option>
                <option value="sha512">SHA-512</option>
                <option value="sha224">SHA-224</option>
            </select>

            <button type="submit">Convert to Color Code</button>
        </form>
    </div>

    {% if hashed %}
    <div class="hash-output" style="background-color: #{{ color_code }}">
        <p>Hex Color Code (First 6 characters): {{ hashed }}</p>
    </div>
    {% endif %}
    
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
</body>
</html>
